@model XLantCore.Models.MLFSSale

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MLFSSale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IOId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IOId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IOReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IOReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organisation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organisation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JointClientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JointClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JointClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JointClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProviderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelevantDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelevantDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VAT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Investment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Investment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnGoingPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnGoingPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedOtherIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedOtherIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Advisor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Advisor.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportingPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportingPeriod.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
