@model IEnumerable<XLantCore.Models.MLFSIncome>

@if (ViewBag.Debtor != null)
{
    <div class="row">
        <div class="col-md-2">
            @ViewBag.Debtor.ClientName
        </div>
        <div class="col-md-2">
            @ViewBag.Debtor.ProviderName
        </div>
        <div class="col-md-2">
            @ViewBag.Debtor.IOReference
        </div>
        <div class="col-md-2">
            @ViewBag.Debtor.PlanReference
        </div>
        <div class="col-md-2">
            @ViewBag.Debtor.NetAmount
        </div>
    </div>
}

<table class="table xlantDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IOReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncomeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            @if (ViewBag.Debtor != null)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IOReference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncomeType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                @if (ViewBag.Debtor != null)
                {
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">Action</button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li><a asp-action="Match" asp-controller="Debtor" asp-route-id="@item.Id" asp-route-debtorId="@ViewBag.Debtor.Id">Match</a></li>
                            </ul>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

