@model IEnumerable<XLantDataStore.ViewModels.SalesReport>

@{
    ViewData["Title"] = "Sales' Report";
}

        <table class="table salesTable" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PivotEntity)
                    </th>
                    <th class="columnTotal">
                        @Html.DisplayNameFor(model => model.Budget)
                    </th>
                    <th class="columnTotal">
                        @Html.DisplayNameFor(model => model.New_Business)
                    </th>
                    <th class="columnTotal">
                        @Html.DisplayNameFor(model => model.Renewals)
                    </th>
                    <th class="columnTotal">
                        @Html.DisplayNameFor(model => model.Unallocated)
                    </th>
                    <th class="columnTotal">
                        @Html.DisplayNameFor(model => model.Clawback)
                    </th>
                    <th class="columnTotal">
                        @Html.DisplayNameFor(model => model.NotTakenUp)
                    </th>
                    <th class="columnTotal">
                        @Html.DisplayNameFor(model => model.Adjustment)
                    </th>
                    <th class="columnTotal">
                        @Html.DisplayNameFor(model => model.Debtors_Variance)
                    </th>
                    <th class="columnTotal">
                        @Html.DisplayNameFor(model => model.Debtors_Adjustment)
                    </th>
                    <th class="columnTotal">
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PivotEntity)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.Budget)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.New_Business)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.Renewals)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.Unallocated)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.Clawback)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.NotTakenUp)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.Adjustment)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.Debtors_Variance)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.Debtors_Adjustment)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td align="right"></td>
                    <td align="right"></td>
                    <td align="right"></td>
                    <td align="right"></td>
                    <td align="right"></td>
                    <td align="right"></td>
                    <td align="right"></td>
                    <td align="right"></td>
                    <td align="right"></td>
                    <td align="right"></td>
                    <td align="right"></td>
                </tr>
            </tfoot>
        </table>
    