@model IEnumerable<XLantCore.Models.MLFSSale>

@{
    ViewData["Title"] = "Index";
}

<table class="table xlantDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IOReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelevantDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organisation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvisorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrossAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receipt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Variance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adjustment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Outstanding)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@item.IOReference</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelevantDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organisation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Advisor.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrossAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receipt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adjustment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Outstanding)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">Action</button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a target="_blank" href="https://www.intelligent-office.net/nio/clientfees/@item.ClientId/Index">View in IO</a></li>
                        <li><a asp-action="CreateAdjustment" asp-controller="MLFSDebtorAdjustment" asp-route-debtorid="@item.Id">Add Adjustment</a></li>
                        <li><a asp-action="CreateVariance" asp-controller="MLFSDebtorAdjustment" asp-route-debtorid="@item.Id">Add Variance</a></li>
                        <li><a asp-action="NotTakenUp" asp-route-id="@item.Id">Mark as Not Taken Up</a></li>
                    </ul>
                </div>
            </td>
        </tr>
}
    </tbody>
    <tfoot></tfoot>
</table>
